.section1{
    background-image: url("../images/Layer 21.png");
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
}
.Montserrat {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    margin: 0px 0px 15px 215px;
    padding-top: 530px;
  }
  .subtitele{
    font-family: Lato;
    color:  #ffffff;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    margin: 0px 0px 30px 215px;
  }
  h2 .diff_color{
    font-family: Montserrat;
    color:  #f1ad1d;
    font-size: 54px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
  }
  h2 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 54px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    margin: 0px 0px 0px 215px;
    padding: 47px 0px 42px 32px;
    border: 2px solid #c3e3e4;
    background: rgba(0, 0, 0, 0.3);
    max-width: 800px;
  }
  /* =====================Section 2 style=========================== */
.section2 {
  background-image: url("../images/Background2.png");
  background-repeat:repeat-y;
  height: 900px;
  width: 1600px;
  text-align: center;
}
.Text2 {
  font-family: Montserrat;
  color: #333333;
  font-size: 22px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 18px;/* Approximation due to font substitution */
}
.subtitele2 {
font-family: Lato;
color: #4d4943;
font-size: 17px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 24px;/* Approximation due to font substitution */
}
 .section2 hr.first_line {
  height: 3px;
  background-color: #f1b128; 
  width: 60px;
  border: none;
}
.section2 hr.second_line {
  height: 3px;
  background-color: #f1b128; 
  width: 62%;
  border: none;
}
.navigation ul a {
font-family: Lato;
color: #3d3d3d;
font-size: 18px;/* Approximation due to font substitution */
font-weight: 400;
text-align: left;
text-decoration: none;
margin: 10px 30px;
}
.navigation li {
  display: inline;
  
}
.navigation a:hover {
  color: #f1b128;
}
.navigation ul li:first-child a {
  font-size: 40px;
  color: #f1b128;
  font-weight: bold;
}
.second-level-menu
{
  position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }
